h1,
h2,
h3,
h4,
h5,
h6 {
  color: $titles;
  margin-top: 0;
}

h1 {
  font: 900 normal rem(100px) / 1.2 var(--font-p);
}

h2 {
  font: 400 normal rem(24px) / 1.2 var(--font-p);
  margin: 20px 0;

  +p {
    margin-top: 7px;
  }

  a {
    font: inherit;
  }
}

h3 {
  font: 300 normal rem(22px) / 1.2 var(--font-p);

  +p {
    margin-top: 10px;
  }
}

h6 {
  font: 500 normal rem(18px) / 1.27 var(--font-p);
}

p {
  font: 300 normal rem(13px) / 1.4 var(--font-p);
  color: #040404;
  margin-top: rem(22px);
  margin-bottom: 0;
}